.profile__container {
  display: flex;
  align-items: center;
  gap: 26px;
  min-width: 0;
}

@media (max-width: 480px) {
  .profile__container {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .popup__container {
    max-width: 300px;
    padding: 24px 20px 26px;
  }
}
