.profile__description {
  margin: 8px 0 0;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
}
@media (max-width: 768px) {
  .profile__description {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .profile__description {
    max-width: 190px;
  }
}
